.align-right {
    text-align: right;
}

table {
    border: 1px solid gray;
    padding: 20px;
    background-color: khaki;
}

.message {
    font-size: 16px;
    font-weight: bold;
    font-color: red;
}