.main-table {
    width: 100%;
    height: auto;
    padding: 10px;
    border-collapse: collapse;
    background-color: khaki;
}
.main-th {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}
.main-td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    padding-right: 20px;
}
.button-table {
    width: auto;
    height: auto;
    padding: 10px;
    border-collapse: collapse;
    background-color: khaki;
}
.button-table-td {
    padding: 5px;
    text-align: center;
    padding-right: 20px;
}
caption {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: "Yu Gothic Light";
}
.count {
    background-color: darkkhaki;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
}
input[type="submit"] {
    display: block;
    align-self: center;
}
div {
    align: center;
}
.center {
    text-align: center;
    font-weight: bold;
}
.button-div {
    background-color: khaki;
    width: auto;
    height: auto;
}